extends layout

block content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand
            .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Link 1
                            span.sr-only (current)
                    li
                        a(href='#') Link 2
                    li
                        a(href='#') Link 3
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action 1
                            li
                                a(href='#') Action 2
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li
                        a(href='#') Link 1
                            span.sr-only (current)
                        li
                            a(href='#') Link 2
                        li
                            a(href='#') Link 3
            col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
